[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/meghna"]
	path = themes/meghna
	url = https://github.com/themefisher/meghna-hugo.git
